html, body {
    height:100%;
}

.App {
    display:flex;
    flex-flow:row wrap;
}

.sidebar {
    background-color:#0089ba;
    width:438px;
    height:100%;
    position:fixed;
    font-family:Consolas;
    color:#ffffff;
    flex:0 0 33.33%;

    &__heading {
        text-align:center;
    }

    &__name {
        margin-top:70px;
        font-size:30px;
    }

    &__appname {
        margin-top:32px;
        font-size:30px;
    }

    .convertForm {
        margin-left:65px;
        margin-right:75px;
        margin-top:139px;

        select, input, button {
            width:298px;
        }
        
        label {
            font-size:14px;
        }

        &__button {
            background-color:#00ba32;
            border-radius:5px;
            color:#ffffff;
            border:none;
            font-size:14px;
            padding-top:11px;
            padding-bottom:8px;
            margin-top:26px;

            &:hover {
                opacity:0.7;
            }
        }
    }
}

.currency-converter {
    flex: 0 0 67.5%;
    left:438px;
    position:relative;
    min-height:100%;
}

.results {
    padding-bottom:72px;
    
    .main-result {
        text-align:center;
        
        &-heading {
            color:#000000;
            font-size:48px;
            margin-top:25px;
            margin-bottom:0;
        }

        &-amount {
            color:#1900ba;
            font-size:72px;
            margin-top:6px;
            margin-bottom:0;
        }

        &-as-of {
            color:#000000;
            font-size:30px;
            margin-top:19px;
            margin-bottom:0;
        }

        &-currentDate {
            color:#1900ba;
            font-size:36px;
            font-family:Consolas;
            margin-top:16px;
        }

    }

    .otherResults {
        display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
        text-align:left;
        margin-left: 118px;

        .otherConvertedAmount {
            flex:1 1 200px;
            font-size:20px;
            margin-bottom: 28px;

            .amount {
                color:#00ba32;
            }
        }
    }
}

.footer {
    background-color:#207fa1;
    width:100%;
    height:72px;
    margin-top:-72px;
    line-height: 72px;
    text-align:center;

    .footertext {
        color:#ffffff;
        font-size:18px;
        margin-bottom:0;
        margin-left: 438px;
    }
}

.loader {
    // background-color:#207fa1;
    position:relative;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}



/* Media Queries */
@media screen and (max-width:1366px) {
    .sidebar {
        .convertForm {
            margin-top: 115px;
        }
    }
}