html, body {
  height: 100%;
}

.App {
  display: flex;
  flex-flow: row wrap;
}

.sidebar {
  background-color: #0089ba;
  width: 438px;
  height: 100%;
  position: fixed;
  font-family: Consolas;
  color: #ffffff;
  flex: 0 0 33.33%;
  z-index: 3;
}
.sidebar__heading {
  text-align: center;
}
.sidebar__name {
  margin-top: 70px;
  font-size: 30px;
}
.sidebar__appname {
  margin-top: 32px;
  font-size: 30px;
}
.sidebar .convertForm {
  margin-left: 65px;
  margin-right: 75px;
  margin-top: 139px;
}
.sidebar .convertForm select, .sidebar .convertForm input, .sidebar .convertForm button {
  width: 298px;
}
.sidebar .convertForm label {
  font-size: 14px;
}
.sidebar .convertForm__button {
  background-color: #00ba32;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  font-size: 14px;
  padding-top: 11px;
  padding-bottom: 8px;
  margin-top: 26px;
}
.sidebar .convertForm__button:hover {
  opacity: 0.7;
}
.sidebar .messageForResults {
  display: none;
  text-align: center;
  margin-top: 21px;
}

.currency-converter {
  flex: 0 0 67.5%;
  left: 438px;
  position: relative;
  min-height: 100%;
  z-index: 1;
}

.results {
  padding-bottom: 72px;
}
.results .main-result {
  text-align: center;
}
.results .main-result-heading {
  color: #000000;
  font-size: 48px;
  margin-top: 25px;
  margin-bottom: 0;
}
.results .main-result-amount {
  color: #1900ba;
  font-size: 72px;
  margin-top: 6px;
  margin-bottom: 0;
}
.results .main-result-as-of {
  color: #000000;
  font-size: 30px;
  margin-top: 19px;
  margin-bottom: 0;
}
.results .main-result-currentDate {
  color: #1900ba;
  font-size: 36px;
  font-family: Consolas;
  margin-top: 16px;
}
.results .otherResults {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: left;
  margin-left: 118px;
}
.results .otherResults .otherConvertedAmount {
  flex: 1 1 200px;
  font-size: 20px;
  margin-bottom: 28px;
}
.results .otherResults .otherConvertedAmount .amount {
  color: #00ba32;
}

.footer {
  background-color: #207fa1;
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.footer .footertext {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 438px;
}

.loader {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media screen and (min-width: 1920px) {
  .results .otherResults .otherConvertedAmount {
    flex: 1 1 147px;
  }
}
@media screen and (max-width: 1366px) {
  .sidebar .convertForm {
    margin-top: 115px;
  }
}
@media screen and (max-width: 1199px) {
  .App {
    flex-flow: column wrap;
  }

  .sidebar {
    width: 100%;
    position: relative;
    padding-bottom: 31px;
  }
  .sidebar .convertForm {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .sidebar .messageForResults {
    display: block;
  }

  .currency-converter {
    left: 0;
  }

  .results .otherResults .otherConvertedAmount {
    flex: 1 1 240px;
  }

  .footer {
    position: relative;
    height: 100%;
  }
  .footer .footertext {
    margin-left: 0;
  }
}
@media screen and (max-width: 991px) {
  .results .otherResults .otherConvertedAmount {
    flex: 1 1 180px;
  }
}
@media screen and (max-width: 481px) {
  .results .otherResults {
    flex-flow: column wrap;
    justify-content: space-around;
    text-align: center;
    margin-left: 0;
  }
  .results .otherResults .otherConvertedAmount {
    flex: 1 1 10px;
  }

  .footer {
    line-height: 29px;
    padding: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
